.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 18px;
}

.error {
  color: #d32f2f;
}

